.container {
  position: absolute;
  top: 40px;
  bottom: 20px;
  left: 50%;
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  column-gap: 1rem;
  width: 40%;
}
.button {
  background-color: #7ed321;
  border: none;
  color: #ffffff;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 420px) {
  .container {
    display: none;
  }
}
